# ##################
# скомпилированный исходный код #
# ##################
* .com
* .class
* .dll
* .exe
* .pdb
* .dll.config
* .cache
* .suo
# Включить библиотеки DLL, если они находятся в каталоге пакетов NuGet
! / пакеты / * / библиотека / * .dll
! / пакеты / * / библиотека / * / * .dll
# Включить библиотеки, если они находятся в каталоге CommonReferences
! * CommonReferences / * .dll
# ###################
# VS Обновление материала #
# ###################
UpgradeLog.XML
_UpgradeReport_Files /
# ##############
# Каталоги #
# ##############
bin /
obj /
TestResults /
# ##################
# Журнал веб-публикации #
# ##################
* .Publish.xml
# ############
# Resharper #
# ############
/ _ReSharper. *
* .ReSharper. *
# ###########
# Пакеты #
# ###########
# лучше распаковать эти файлы и зафиксировать исходный код
# git имеет собственные встроенные методы сжатия
* .7z
* .dmg
* .gz
* .iso
* .jar
* .rar
* .tar
* .zip
# #####################
# Журналы и базы данных #
# #####################
* .log
* .sqlite
# Файлы, созданные ОС #
# #####################
.DS_Store ?
ehthumbs.db
Значок ?
Thumbs.db
[ Bb ] в
[ Оо ] Ъ
[ Tt ] est [ Rr ] результаты
* .suo
* .user
* . [ Cc ] боль
* [ Rr ] esharper *
пакеты
NuGet.exe
_ [ Ss ] скрипты
* .exe
* .dll
* .nupkg
* .ncrunchsolution
* .dot [ Cc ] over