
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form method="post">
    <div>
        <input type="text" name="image" placeholder="Enter image..." />
    </div>
    <div>
        <input type="text" name="Name" placeholder="Enter Name..." />
    </div>
    <div>
        <input type="text" name="SurName" placeholder="Enter SurName..." />
    </div>
    <div>
        <input type="text" name="Number" placeholder="Enter Number..." />
    </div>
    <button>Add</button>
</form>

