@using DB_BookPhone.Models
@model List<Abonent>

<div class="products">
    @foreach (var abonent in Model)
    {
        <h2>abonent.Name</h2>
        @Html.Partial("_ListAbonentPartial", abonent)
    }
</div>
