@using DB_BookPhone.Models
@model List<Abonent>

@Html.ActionLink("Добавить контакт", "AddAbonent", "Home")
<div class="products">
    @foreach (var abonent in Model)
    {
        @Html.Partial("_ListAbonentPartial", abonent)
    }
</div>
